//
// Base styles
//

.alert {
  position: relative;

}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {

}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: inherit;
  }
}
